<md-card class="demo-card demo-basic">
    <md-toolbar color="secondary">Application Login</md-toolbar>
    <md-card-content>
        <form [formGroup]="form" autocomplete="off" novalidate class="login-form">

            <table style="width: 100%" cellspacing="0">
                <tr>
                    <td>
                        <md-input #email formControlName="email" placeholder="username" style="width: 100%"></md-input>
                    </td>
                </tr>
                <tr>
                    <td>
                        <md-input #password formControlName="password" type="password"
                                  placeholder="password" style="width: 100%"></md-input>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button md-raised-button (click)="login()">Login</button>
                    </td>
                </tr>
            </table>

        </form>
    </md-card-content>
</md-card>